<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::main}, ${title})}">
<body>
<main>

  <div>
    <a class="btn" th:href="@{/tasks/new}">新規作成</a>
  </div>

  <h2 style="margin-top:16px;">タスク一覧</h2>

  <table style="margin-top:8px;">
    <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>完了</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(tasks)}">
      <td colspan="4">タスクがありません</td>
    </tr>

    <tr th:each="t : ${tasks}">
      <td th:text="${t.id}"></td>
      <td th:text="${t.title}"></td>
      <td th:text="${t.completed} ? '完了' : '未完了'"></td>
      <td class="actions">
        <a class="btn btn-nml" th:href="@{/tasks/{id}/edit(id=${t.id})}">編集</a>

        <form th:action="@{/tasks/{id}/delete(id=${t.id})}" method="post">
          <button class="btn btn-danger" type="submit">削除</button>
        </form>

        <form th:action="@{/tasks/{id}/toggle(id=${t.id})}" method="post">
          <button class="btn btn-nml" type="submit"
                  th:text="${t.completed} ? '未完了に戻す' : '完了にする'"></button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>

</main>
</body>
</html>